/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* style section */

body {
  background-color: #eaeaea;
  font: 16px/28px "Noto Serif", serif;
  color: #333;
  background-image: url(img/micro_carbon.png);
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 960px;
  margin: auto;
  background-color: white;
}

.header {
  padding: 20px;
}

.header .judul {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-family: "Jersey 10", sans-serif;
}

.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 20px;
  font-family: "Jersey 10", sans-serif;
}

.header ul {
  text-align: center;
}

.header a {
  text-decoration: none;
  color: #545454;
  padding: 5px;
}

.header a:hover {
  background-color: #690000;
  color: white;
  transition: 0.5s;
}

.hero {
  background-image: url(img/muaythai\ 1.jpg);
  height: 320px;
  background-position: 0 -5000px;
  background-size: cover;
  border-top: 8px solid red;
  border-bottom: 8px solid lightblue;
}

.main {
  padding: 20px;
  width: 600px;
  box-sizing: border-box;
  float: left;
}

.main .penulis a {
  text-decoration: none;
  color: #6e1515;
  padding: 2px;
}

.main .penulis a:hover {
  transition: 0.5s;
  background-color: lightblue;
  color: white;
}

.main h2 {
  font-size: 28px;
  font-weight: bold;
}

.main .penulis {
  font-size: 14px;
  margin-top: 5px;
}

.main p {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: justify;
}

.footer {
  background-color: #333;
  padding: 10px;
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
}

.img2 {
  background-image: url(img/muaythai\ 2.jpg);
  height: 250px;
  background-position: 0 -620px;
  background-size: cover;
  margin-bottom: 20px;
  border-top: 5px solid #ffab23;
  border-bottom: 5px solid #ffab23;
}

.img3 {
  background-image: url(img/img3.jpg);
  height: 250px;
  background-position: 0 -450px;
  background-size: cover;
  margin-bottom: 20px;
  border-top: 5px solid #ffab23;
  border-bottom: 5px solid #ffab23;
}

.konten h3 {
  font-size: 28px;
  font-weight: bold;
}

.konten .list span {
  font-weight: bold;
  font-size: 20px;
}

.konten .p2 {
  margin-top: 20px;
}

.konten .list .source {
  font-size: 12px;
}

.konten .list .source a {
  text-decoration: none;
  color: red;
}

.konten .list .source a:hover {
  color: white;
  background-color: #1a3263;
  transition: 0.6s;
}

/* clearfix */
cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
