body {
  background-color: aqua;
  font-family: Georgia;
}

h1 {
  font-family: comic sans ms;
  font-size: 60px;
  color: darkblue;
  text-align: center;
}

h3 a:link {
  color: white;
  text-decoration: none;
}

h3 a:hover {
  transition: 1s;
  color: red;
  text-decoration: none;
}

h4 {
  text-align: right;
  font-style: italic;
}

.p1 {
  text-align: center;
  color: orange;
}

.p2 {
  text-align: center;
  line-height: 1.8;
}

p > a {
  text-decoration: none;
}

#mark:hover {
  background-color: blue;
  color: white;
  text-decoration: none;
}
