@font-face {
  font-family: "bebas";
  src: url(../font/BebasNeue-Regular.woff) format(woff);
}

@font-face {
  font-family: "chewy";
  src: url(../font/chewy-regular-webfont.woff) format(woff);
}

/* navbar */
.navbar {
  background-color: #e68bbe;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.navbar h1 a {
  text-decoration: none;
  color: white;
  font-family: "Bebas", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-family: "chewy", Arial, Helvetica, sans-serif;
}

.navbar li {
  display: inline-block;
}
.navbar li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  font-family: "chewy", Arial, Helvetica, sans-serif;
}


/* container */
body {
  background-color: #f4b8da;
  font: 18px/36px arial, sans-serif;
}

h1 {
  font-size: 80px;
  margin: 50px 0;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  color: white;
  font-family: "Bebas", Arial, Helvetica, sans-serif;
}

.container {
  width: 600px;
  background-color: white;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  border: 5px solid #eea1cd;
}

.gallery li {
  width: 120px;
  height: 120px;
  /* overflow: hidden; */
  border: 5px solid #fde4f2;
  float: left;
  margin-right: 20px;
  position: relative;
}

.gallery li {
  border-radius: 10px;
}

.gallery li span {
  display: block;
  width: 120px;
  height: 120px;
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 120px;
  color: white;
  text-shadow: 1px 1px 1px #eea1cd;
  opacity: 0;
  transition: 0.4s;
  transform: scale(0);
}

.gallery li a:hover span {
  opacity: 1;
  transform: scale(1);
}

.clear {
  clear: both;
}

/* overlay */
.overlay {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.3s;
  text-align: center;
  padding: 80px 0;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay img {
  height: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  border: 5px solid #fde4f2;
}

.overlay:target img {
  animation: fade 0.6s;
}

.overlay .close {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: 145px;
  color: white;
  text-decoration: none;
  background-color: #f9cee7;
  border: 2px solid white;
  line-height: 10px;
  padding: 8px;
  opacity: 0;
}

.overlay:target .close {
  animation: slidebawah 0.5s 0.5s forwards;
}

.overlay:target .next {
  animation: fade 0.5s 0.5s forwards;
}

.overlay:target .prev {
  animation: fade 0.5s 0.5s forwards;
}

/* deskripsi */

.description p {
  text-align: justify;
}

/* navigasi */
.next,
.prev {
  width: 40px;
  height: 40px;
  background-image: url(../img/next.png);
  position: absolute;
  text-indent: -9999px;
  top: 44%;
  margin-left: 10px;
  opacity: 0;
}

.prev {
  background-image: url(../img/prev.png);
  margin-left: -50px;
  opacity: 0;
}

.container {
  animation-name: test;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

.navbar, h1 {
  animation-name: aninav;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

/* animasi */
@keyframes anigam{
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}
  

@keyframes aninav {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
  }
}


@keyframes test {
  0% {
    opacity: 0;
    transform: scale(.5);
    border-radius: 20%;
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
    border-radius: 50%;
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    scale: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes zoomfade {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slidebawah {
  0% {
    opacity: 0;
    margin-top: -20px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}
