* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    padding: 0 10px;
    height: 50px;
    align-items: center;
}

nav .logo{
    font-family: "Sour Gummy", sans-serif;
    letter-spacing: 1px;
    text-shadow: 1px 2px 1px rgba(0,0,0,.5);
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 20%;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    transition: ease-in;
    transition-duration: .25s;
    font-weight: 800;
}

nav ul li a:hover {
    color: aliceblue;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 42px;
    height: 28px;
    opacity: 0;
    left: -6.5px;
    top: -2px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all .5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: rgb(52, 52, 52);
    transform: rotate(45deg) translate(1px, 1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: rgb(52, 52, 52);
    transform: rotate(-45deg) translate(-2px, 2px);
}
.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0)
}






/* responsive breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {
       width: 50%;
    }
}
/* ukuran hp */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        flex-direction: column;
        width: 60%;
        right: 0;
        background-image: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
        top: 0;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        transform: translateX(100%);
        transition: all .4s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}